body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0px auto;
}

header {
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px;
    padding: 30px 300px;
}

nav {
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px;
    padding: 30px 300px;
}

#full {
    width: 100%;

}
#section_1 {
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px;
    padding: 20px 20px;
    width: 495px;
    float: left;
}

aside {
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px 10px 10px;
    padding: 20px 20px;
    width: 495px;
    float: left;
    width: 39%;
    height: 249px;
}

footer{
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px;
    padding: 30px 300px;
    clear: both;
}
/**/

article {
    color: #ebebeb;
    background: #777;
    padding: 10px 30px;
    margin: 10px;
}

h1, h2, h3, p {
    color: #777;
    background: #ebebeb;
    padding: 20px 20px;
    margin: 15px 10px;
}

/**/
/*figure out*/



